_bookdown_files
treedata.Rmd
*~
.Rproj.user
treedata.log
crc_cache
crc_files
crc.Rmd
crc.html
gh-pages
treedata_cache
treedata_files
pdf
treedata.html
treedata.knit.md
treedata.docx
snapshop-2021-12-09
snapshop-2021-11-16
.Rhistory
treedata.aux
treedata.lof
treedata-lot
treedata.toc
treedata.lot
treedata.idx
treedata.ilg
treedata.ind
*log
